IHDUW3_1012/1/VMB_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" maxOccurs="unbounded" minOccurs="0" type="ora_tipus">
          <xs:complexType name="ora_tipus">
            <xs:sequence>
              <xs:element name="targy" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType name="targy_tipus">
                  <xs:sequence>
                    <xs:element name="idopont">
                      <xs:complexType name="idopont_tipus">
                        <xs:sequence>
                          <xs:element type="xs:string" name="nap"/>
                          <xs:element type="xs:string" name="tol"/>
                          <xs:element type="xs:string" name="ig"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="helyszin"/>
                    <xs:element type="xs:string" name="oktato"/>
                    <xs:element type="xs:string" name="szak"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                  <xs:attribute type="xs:string" name="nev" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
            <xs:attribute type="xs:string" name="tipus" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="oraTipusTipus">
   <xs:restriction base="xs:string">
    <xs:enumeration value="eloadas"/>
    <xs:enumeration value="gyakorlat">
   </xs:restriction>
  </xs:simpleType>
  
  		     <xs:complexType name="idopont_tipus">
                       <xs:sequence>
                         <xs:element type="napTipus" name="nap"/>
                         <xs:element type="idopontOraTipus" name="tol"/>
                         <xs:element type="idopontOraTipus" name="ig"/>
                       </xs:sequence>
                     </xs:complexType>
                      
  <xs:simpleType name="napTipus">
   <xs:restriction base="xs:string">
    <xs:enumeration value="hetfo"/>
    <xs:enumeration value="kedd">
    <xs:enumeration value="szerda"/>
    <xs:enumeration value="csütörtök">
    <xs:enumeration value="pentek"/>
   </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="oraTipusTipus">
   <xs:restriction base="xs:positiveInteger">
    <xs:minInclusive value="8"/>
    <xs:maxInclusive value="18">
   </xs:restriction>
  </xs:simpleType>
  
</xs:schema>














