IHDUW3_1005/4/VMB_ertoxsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Er">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Keys">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="key" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="id" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="A">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="a">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="id"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="b">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="x"/>
                    <xs:element type="xs:string" name="y"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="c">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="d"/>
                    <xs:element type="xs:string" name="e"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="B">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="a">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="id"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="c">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="a"/>
                    <xs:element name="b">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="x"/>
                          <xs:element type="xs:string" name="y"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="C">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="a">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="id"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="b"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

